<div class="text-2xl font-bold pb-2">ะะตัะฐะปัะฝะฐั ะธะฝัะพัะผะฐัะธั ะพ ะบะฝะธะณะต</div>

<section class="flex p-6 my-4 bg-green-50">
  <div class="flex-none w-48 h-72 relative">
    <%= cover(@book) %>
  </div>

  <div class="flex-auto p-6">
    <h1 class="flex-auto text-2xl font-bold">
      <%= @book.name %>
    </h1>
    <p class="text-base text-gray-600 my-4 font-bold">
      ๐๐๏ธ <%= @book.author %>
    </p>
    <p class="my-2">
      <%= @book.description %>
    </p>
  </div>
</section>

<section class="p-6 my-4 bg-green-50">
  <%= link_to 'ะะตะดะฐะบัะธัะพะฒะฐัั',
              edit_book_path(@book), 
              class: 'text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-4' %>

  <%# if @book.visible %>
    <%#= link_to 'ะกะบัััั',
                @book,
                method: :delete,
                data: { confirm: "ะั ัะฒะตัะตะฝั, ััะพ ัะพัะธัะต ัะบัััั ะบะฝะธะณั ยซ#{@book.name}ยป?" },
                class: 'text-lg font-bold bg-red-500 text-white px-6 py-2 inline-block mr-4' %>
  <%# end %>

</section>
